/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
	--clr-primary-1: #2A018E;
	--clr-light-purple: #F1EEFE;
    /* grey used for paragraphs */
    --clr-white: #fff;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--top-container-shadow: 0 3px 0.5px rgba(0, 0, 0, 0.1);
    --max-width: 1170px;
    --fixed-width: 620px;
  }


/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body {
  font-family: var(--ff-secondary);
  line-height: 1.5;
  font-size: 0.875rem;
  background-image: url(../svg/bg.svg);
  background-position: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: var(--clr-light-purple);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.main {
	min-height: 100vh;
}
.card{
	box-shadow: var(--light-shadow);
	margin-top: 3rem;
	border-radius: 5px;
	width: 100%;
}

.user-image {
	height: 35%;
	width: 35%;
	border-radius: 50%;
}

#fullName {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

#matricNo {
	font-size: 16px;
	font-weight: 600;
	margin-top: -0.6rem;
}

#department {
	font-size: 16px;
	font-weight: 400;
	margin-top: -0.6rem;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
}
.top-container{
	box-shadow: var(--top-container-shadow);
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}

/*
================
Form Styles
================
*/

form{
	margin: 2.5rem auto 4.5rem auto;
	width: 75%;
}
label{
	font-size: 0.9rem;
}
.form-control{
    border-radius: 15px;
	padding: 15px;
	background-color: var(--clr-white);
	box-shadow: var(--top-container-shadow);
}
.btn-gradient{
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: 400;
    background: linear-gradient(120deg, rgba(245, 198, 7, .9), rgba(128, 127, 0) 70%);
	border-radius: 30px;
	padding: 1px;
    box-shadow: var(--light-shadow);
    width: 70%;
    transition: var(--transition);
}
.btn-gradient:hover{
    color: var(--clr-white);
    background: var(--clr-primary-1);
    transform: translateY(-10px);
}
.complain{
	margin: 2.5rem auto -1.5rem auto;
}
/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 43, 43, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}
/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
  transition: var(--transition);
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.modalclose-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.modalclose-btn:hover {
  transform: scale(1.3);
}

/*
======================
Media Queries
======================
*/

@media screen and (max-width: 400px) {
	.logo{
		width: 70%;
	}
}


@media screen and (min-width: 800px) {

	.innerBg {
		height: 450px;
    	margin-left: 25px;
    	width: 300px;
	}
}	

