/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: #2A018E;
    /* grey used for paragraphs */
    --clr-white: #fff;
    --clr-light-purple: #CEC5E5;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body {
  font-family: var(--ff-secondary);
  background: var(--clr-light-purple);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p{
    letter-spacing: var(--spacing);
}

.main {
    min-height: 100vh;
}

/*
================= 
Top Navbar 
=================
*/

.top-navbar{
    box-shadow: var(--light-shadow);
    z-index: 2;
    height: 100px;
}
.logo {
    width: 15%;
    height: 15%;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    transition: var(--transition);
    cursor: pointer;
    margin-right: 30%;
    position: absolute;
}
.nav-toggle:hover {
    background: var(--clr-light-purple);
    transition: var(--transition);
}
.icon-parent{
    position: relative;
}

.icon-bullet::after{
    content: "14";
    color: var(--clr-white);
    position: absolute;
    top: 7px;
    left: 33px;
    height: 20px;
    width: 20px;
    background-color: #f44336;
    border-radius: 50%;
}
.bell-img{
    width: 25px;
}

.img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.name{
    font-weight: bold;
    letter-spacing: var(--spacing);
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdown-item{
    color: var(--clr-white);
}
.dropdown-item:hover{
    background-color: var(--clr-white);
    color: var(--clr-primary-1);
}
/*
=================
side Navbar 
================= 
*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    background: var(--clr-white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
    transform: translate(-100%);
    z-index: 3;
}
.show-sidebar {
    transform: translate(0);  
}
#active-link{
    color: var(--clr-primary-1);
    font-weight: bold;
    text-decoration: none;
}
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.close-btn {
    font-size: 1.75rem;
    transition: var(--transition);
    cursor: pointer;
}
.close-btn:hover {
    border: red 1px solid;
    transform: rotate(270deg);
}

.links a {
    display: block;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1.2rem 1.5rem;
    color: var(--clr-grey-5);
    transition: var(--transition);
}
.links a:hover {
    background: #f0f0f0;
    color: var(--clr-primary-5);
    padding-left: 1.75rem;
}
.faculty-links{
    margin-left: 2.5rem;
}
.faculty-links a:hover{
    border-bottom: 2px solid var(--clr-primary-1);
}
.social-icons {
    justify-self: center;
    display: flex;
    padding-bottom: 2rem;
}
.social-icons a {
    margin: 0 0.6rem;
    transition: var(--transition);
    box-shadow: var(--light-shadow);
}
.social-icons a:hover {
    padding-left: 0.5rem;
}

/*
==============
font awesome
==============
*/
i{
    font-size: 50px;
    color: #1fa176;
}
  

/*
==============
Cards
==============
*/
.cards{
    width: 75%;
    margin: 4rem 2.5rem 3rem auto;
}
.page-header{
    font-size: 1.3rem;
}
.sug{
    font-weight: bold;
    letter-spacing: var(--spacing);
}
.card-btn{
    background-color: var(--clr-primary-1);
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    width: 60%;
}
.card-btn:hover{
    border: 1px solid var(--clr-primary-1);
    background: transparent;
    color: var(--clr-primary-1);
    font-weight: bold;
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 43, 43, 0.8);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}
/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
  transition: var(--transition);
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.modalclose-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.modalclose-btn:hover {
  transform: scale(1.3);
}


/*
==============
Media Queries
==============
*/

@media screen and (max-width: 799px){
    .logo{
        width: 150px;
        margin-left: 70px;
    }
    .pt-2 {
        margin-top: 10px;
        margin-left: -10px;
    }

    .bell-img{
        width: 20px;
        margin-right: 10px;
    }
    .img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .dropdown {
        margin-left: -20px;
    }
    .name{
        display: none;
    }
    .icon-bullet::after{
        left: 30px;
        height: 20px;
        width: 20px;
    }
    .cards{
        width: 90%;
        margin: 9rem auto 3rem auto;
    }
}

@media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .sidebar{
        width: 20%;
        transform: translate(0%);
        z-index: 0;
    }
    .sidebar-header{
        margin-top: 8rem;
    }
    .close-btn{
        display: none;
    }
    .sidebar-logo{
        display: none;
    }
    .cards{
        margin: 10rem 1.5rem 3rem auto;
    }
}

@media screen and (min-width: 1200px){
    .cards{
        margin-right: 2rem;
    }
}